[package]
name = "{name}"
version = "1.0.0"
edition = "2018"
publish = false

[lib]
crate-type = ["staticlib"]

[dependencies]
polyhorn = "{version}"

[build-dependencies]
polyhorn-build = "{version}"
