use polyhorn::prelude::*;

pub struct App {{}}

impl Component for App {{
    fn render(&self, _manager: &mut Manager) -> Element {{
        poly!(<Window ...>
            <View style={{ style! {{
                align-items: center;
                justify-content: center;
                background-color: red;
                height: 100%;
            }} }} ...>
                <Text style={{ style! {{ color: white; }} }}>
                    "Welcome to your Polyhorn app!"
                </Text>
            </View>
        </Window>)
    }}
}}

polyhorn::render!(<App />);
